<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<!--<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">-->
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="background-color:rgb(247, 245, 246);">
    <div class="container">
        <div class="nanbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">FIFA</a>
					<ul class="navbar-nav nav">
						<li><a href="index">Home</a></li>
                        <li><a href="information">Information</a></li>
						<li><a href="evaluation">Evaluation</a></li>
                        <li><a href="management">Management</a></li>
						<li><a href="tutorial">Tutorial</a></li>
						<li class="active"><a href="about">About</a></li>
					</ul>
				</div>
			</div>
    </div>

    <br><br><br>

    <div style="padding-left:50px">
    <h3><strong>Contact us</strong></h3>
    <table width="80%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="70%"><br>
            <a href="https://cbb.sjtu.edu.cn/">Dept. of Bioinformatics & Biostatistics</a><br>
            <a href="https://life.sjtu.edu.cn/">School of Life Sciences & Biotechnology</a><br>
            <a href="https://www.sjtu.edu.cn/">Shanghai Jiaotong University</a><br><br>
          <strong>Group Member</strong><br>
          Jiazheng Pei: Frontend & Backend<br>
          Gufeng Yu: Data & Algorithm<br>
          Ahjol: Frontend & UI Design<br>
          Zhijin Zhang: Document & Powerpoint<br>
          <strong>Instructor</strong><br>
          <a href="https://cbb.sjtu.edu.cn/~mywu/">Maoying Wu</a>
          <br><br>
          The source code of this project can be found on <a href="https://github.com/peipp410/MiniFIFA">Github</a>. <br>
          If there is any problem with this website, please contact <a href="mailto:pjz2001@163.com">us</a>.</td>
        <td width="30%"><br>
            <strong>What we are doing?</strong><br>
            {% load static %}
            <img src="/static/img/stone.bmp" height=250px>
        </td>
      </tr>
      <tr>
        <td width="30%"><br>
            <strong>Friendly Links</strong><br>
            <a href="https://sofifa.com/">SoFIFA</a><br>
            <a href="https://www.kaggle.com/stefanoleone992/fifa-22-players-lineup-visualization-and-more/notebook">Kaggle</a><br>
            <a href="https://cbb.sjtu.edu.cn/course/bi506/">SJTU BI506</a><br>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
    </div>
    


</body>
</html>