<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	<script src="/static/js/jquery-2.1.4.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
</head>



<div id="particles-js">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css">
	<body background="/static/img/pic_homePage.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%;
	background-attachment: fixed;">
		<div class="container">
			<div class="nanbar navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">FIFA</a>
						<ul class="navbar-nav nav">
							<li class="active">
								<a href="index">Home</a>
							</li>
							<li><a href="team">Team</a></li>
							<li><a href="evaluation">Evaluation</a></li>
							<li><a href="#">Tutorial</a></li>
							<li><a href="#">About</a></li>
							<li><a href='a'></a></li>
						</ul>
					</div>
				</div>
		</div>

			 
			
			<hr>
			<p>Copyright @ (2021-2022-1)-BI506-1 Course Project Group5. All Rights Reserved.</p>
		</div>





</div>
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/app.js"></script>

</body>
</html>