<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tutorial</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css">      
</head>

<body style="background-color: rgb(247, 245, 246);">
	<div class="container">
		<!-- <img src="images/eupan_logo.svg" alt="logo"> -->
		<div class="nanbar navbar-inverse navbar-fixed-top">
			
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">FIFA</a>
					<ul class="navbar-nav nav">
						<li><a href="index">Home</a></li>
						<li><a href="information">Information</a></li>
						<li><a href="evaluation">Evaluation</a></li>
						<li><a href="management">Management</a></li>
						<li class="active"><a href="tutorial">Tutorial</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
			</div>
			
		</div>
		<h3>Tutorial</h3>

		 <br><br>
 
         <p data-anchor-id="69g1"><strong>As a FIFA player, do you want to search for your players or supported team easily? </strong></p>
         <p data-anchor-id="69g1"><strong>Do you want to know the possible capability of new players and their potential?</strong></p>
         <p data-anchor-id="69g1"><strong>Do you have your unique and favourite team just for a few seconds?</strong></p>
         <h3>Just choose MiniFIFA!</h3>
        <p data-anchor-id="y86t">MiniFIFA is an advanced database serving all FIFA players. Based on current SoFIFA, we further simplify unnecessary information redundancy and add visual elements like charts. Most importantly, we initiatively introduce the evaluation and management functions, which enable users to finish evaluation and arrangement just after inputting options.</p>
        <p data-anchor-id="9il9">We designed following pages:</p>

        <p data-anchor-id="d5mo"><strong>(1) Home</strong></p>
        <p>Home page has a picture of world cup for background which bore the most hot-blooded memory of football and the moved structures represent data we use, full of technology.</p>
 
        <p data-anchor-id="d5mo"><strong>(2) Information</strong></p>
        <p data-anchor-id="ap4r">Information page displayed the players' information of lD, Name, Age, Height,  Weight, Nationality, Positions, club and ClubJoined (when player joined the club), you can type name of team or player or both, and click submit button to obtain the information of certain player or players from certain teams. The page added a drop-down list which allow you to choose showing how many entries in this page once.</p>
        <p data-anchor-id="62jq">At the button, you can know the total numbers of results and click the button to turn a page forward or back.</p>
        <p data-anchor-id="csos">Also, when you click Hyperlinks of ID or Club, it will jump to the ID page or Club page which shows detailed information and radar chart of player's abilities.</p>

        <p data-anchor-id="b9b2"><strong>(3) Evaluation</strong></p>
        <p data-anchor-id="5w1f">This is one of our distinctive pages. When the six properties were inputted, we can show you the radar chart, predict his total capability and suggest you the potential with which you can choose whether buy him or not.</p>
        <p data-anchor-id="95og">What' s more, you can also see the players whose capabilities are equaled to him, which help you choose one with highest value.</p>

        <p data-anchor-id="zd1i"><strong>(4) Management</strong></p>
        <p data-anchor-id="p74x">This is the other distinctive pages, where you can type year, name, club or formation, all with two columns and optional.</p>
        <p data-anchor-id="2ze0">After submitting, our page will show you the best combination of players and the diagram of formation, which means the most time-consuming process can be done with just a few seconds. You can also use it to arrange formation virtually.</p>

	</div>
	<br>
</body>
</html>